@font-face {
  font-family: "Museo";
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Museo";
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Museo";
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-ExtraBold.woff2");
  font-weight: 900;
  font-display: swap;
}
